*{
    margin: 0;
    padding: 0;
    line-height: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

li {
    list-style: none;

}

html {
    font-size: 10px;
}

body {
    font-family: "Lato-Regular", sans-serif;
}

a{
    text-decoration: none;
}

#portfolio{
    padding-top: 63px;
    padding-bottom: 67px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.wrap {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
}

#portfolio .wrap > h2 {
    margin-bottom: 27px;
    letter-spacing: -0.1px;
    font-family: Lato-Black, sans-serif;
    font-size: 30px;
    color: #666d89;
}

#portfolio .wrap > p{
    font-family: Lato-Light, sans-serif;
    font-size: 18px;
    color: #767e9e;
}

#portfolio .wrap ul{
    display: flex;
    margin-top: 19px;
    margin-bottom: 21px;
}

#portfolio .wrap ul li a{
    padding: 2px 6px;
    font-family: Lato-Regular, sans-serif;
    font-size: 12px;
    letter-spacing: +0.05px;
    line-height: 18px;
    color: #666d89;
    border-radius: 5px;
    border: 1px solid #666d89;
    margin-right: 9px;
    margin-left: 1px;
}

#portfolio .wrap ul li a:hover{
    color: #dedede;
    border: 1px solid #c5c5c5;
    transition: color .25s, border .25s ;
}

#portfolio .wrap ul li.selected a{
    color: #dedede;
    border: 1px solid #c5c5c5;
}

#portfolio #img-list{
    display: flex;
    max-height: 601px;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

#portfolio #img-list img{
    margin-bottom: 20px;
}

#portfolio #img-list img:nth-child(n+9) {
    margin: 0;
}

#footer {
    padding-top: 62px;
    padding-bottom: 62px;
    background-color: #f2f2f2;
    border-bottom: 6px solid white;
}

#footer .wrap h2 {
    margin-bottom: 21px;
    letter-spacing: -0.15px;
    font-family: Lato-Black, sans-serif;
    font-size: 30px;
    color: #666d89;
}

#footer-text{
    text-align: justify;
    font-family: Lato-Light, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    margin-bottom: 4px;
}

#list-photo{
    display: flex;
    max-height: 447px;
    margin-top: 45px;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}

.photo{
    width: 300px;
    height: 447px;
}

#list-photo .photo h3{
    margin-top: 16px;
    margin-bottom: 10px;
    font-family: Lato-Black, sans-serif;
    font-size: 18px;
    color: #666d89;
    letter-spacing: -0.15px;
}

#list-photo .photo p:first-line{

    letter-spacing: -0.06px;
}

#list-photo .photo p{
    font-family: Lato-Regular, sans-serif;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;

    text-align: justify;
    overflow: hidden;
}

#list-photo .photo .links{
    display: flex;
    margin-top: 24px;
}

#list-photo .photo .links li{
    margin-right: 7px;
    margin-left: 1px;
    align-items: center;
    justify-content: center;
}

#list-photo .photo .links li:hover {
    opacity: 0.7;
    transition: opacity .25s ease-in;
}