*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face{
    font-family: Lato;
    /*src: url('assets/Lato/Lato-Black.ttf');*/
    /*font-family: Lato-Bold;*/
    /*src: url('assets/Lato/Lato-Bold.ttf');*/
    /*!*font-family: Lato-Light;*!*/
    src: url('assets/Lato/Lato-Regular.ttf');
}


#header{
    display: block;
    margin: auto;
    background: #2d303a;
    width: 1020px;
    height: 89px;

}

#logo{
    float: left;
    padding-top: 28px;
    padding-bottom: 30px;
    padding-left: 40px;
}

#singolo{
    color: #ffffff;
    float: left;
    font-family: 'Lato';
    font-size: 26px;
    text-transform: uppercase;
}
#star-logo{
    color: #d6645e;
    float: left;
    font-family: 'Lato';
    text-transform: uppercase;
    font-size: 26px;
}

#nav{
    padding-left: 608px;
    padding-top: 42px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.nav-item a{
    float: left;
    font-family: 'Lato';
    text-transform: uppercase;
    font-size: 12px;
    transition: color 0.3s;
}

.nav-item a:hover,
.nav-item a:active{
    float: left;
    color: #d6645e;
    font-family: 'Lato';
    text-transform: uppercase;
    font-size: 12px;
}

.point {
    margin-top: 7px;
    margin-left: 14px;
    margin-right: 13px;
    float: left;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #494e62;
}

#botton-header{
    float: none;
    display: block;
    margin: auto;
    width: 1020px;
    height: 6px;
    background: #323746;
}
#slider{
    display: block;
    margin: auto;
    background: #f06c64;
    width: 1020px;
    height: 594px;

}
#botton-slider{
    float: none;
    display: block;
    margin: auto;
    width: 1020px;
    height: 6px;
    background: #ea676b;
}


#Arrs{
    /*float: left;*/
    display: block;
    /*padding-top: 288px;*/
    /*padding-left: 40px;*/

}

.arr{
    float: left;
}

#arr1{
    padding-top: 288px;
    padding-left: 40px;
}

#rectangle1{
    width: 21px;
    height: 6px;
    border-radius: 14px;
    background: #ca4549;
    transform: rotate(45deg);
    transform-origin: 0% 100%;

}
#rectangle2{
    width: 21px;
    height: 6px;
    border-radius: 14px;
    background: #ca4549;
    transform-origin: 0% 0%;
    transform: rotate(315deg);
}

.hor-slider{
    float: left;
}

#arr2{
    padding-top: 288px;
    padding-left: 73px;
}

#rectangle3{
    width: 21px;
    height: 6px;
    border-radius: 14px;
    background: #ca4549;
    transform: rotate(225deg);
    transform-origin: 0% 100%;

}
#rectangle4{
    width: 21px;
    height: 6px;
    border-radius: 14px;
    background: #ca4549;
    transform-origin: 0% 0%;
    transform: rotate(135deg);
}


#ver-phone{
    width: 291px;
    padding-left: 51px;
    padding-top: 53px;
}

#hor-phone{
    width: 557px;
    padding-left: 73px;
    padding-top: 174px;
}