*{
    margin: 0;
    padding: 0;
    line-height: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

li {
    list-style: none;

}

html {
    font-size: 10px;
}

body {
    min-width: 1020px;
    font-family: "Lato-Regular", sans-serif;
}

a{
    text-decoration: none;
}

fieldset,
input,
textarea,
button {
    border: none;
    outline: none;
}

.wrap {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
}

.question-block {
    margin-top: 0;
    padding-top: 62px;
    padding-bottom: 21px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.question-block .wrap h2{
    margin-bottom: 22px;
    letter-spacing: -0.2px;
    font-family: "Lato-Black", sans-serif;
    font-size: 30px;
    color: #f0d8d9;
}

.question-block .wrap  p::first-line {
    letter-spacing: 0.15px;
}

.question-block .wrap  p{
    color: #f0d8d9;
    font-family: "Lato-Light", sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.question-elements {
    display: flex;
    margin-top: 44px;
    /*justify-content: space-between;*/
}

.question-elements .question-form {
    width: 619px;
    margin-right: 21px;
}

.question-elements .question-form fieldset input::placeholder,
.question-elements .question-form fieldset textarea::placeholder{
    color: #f48c8f;
}

/*.question-elements .question-form fieldset input::-ms-input-placeholder,*/
/*.question-elements .question-form fieldset textarea::-ms-input-placeholder*/

/*.question-elements .question-form fieldset  input:-webkit-autofill {*/
/*    box-shadow: inset 0 0 0 50px #d6564f;*/
/*    -webkit-text-fill-color: #f0d8d9;*/
/*}*/

.question-elements .question-form  fieldset input,
.question-elements .question-form  fieldset textarea{
    line-height: 22px;
    font-size: 12px;
    padding: 8px 15px;
    font-family: inherit;
    color: #f0d8d9;
    background-color: #d6564f;
    border-radius: 5px;
}

.question-elements .question-form fieldset input[name="subject"]{
    padding: 9px 15px;
}

.question-elements .question-form fieldset input{
    width: 619px;
    margin-bottom: 16px;
}

.question-elements .question-form  fieldset textarea {
    width: 619px;
    min-height: 202px;
    resize: none;
}

.question-block .question-elements fieldset{
    margin-bottom: 16px;
}

.question-block .question-elements button {
    padding: 8px 15px;
    /*padding-bottom: 17px;*/
    margin-bottom: 2px;
    font-family: inherit;
    color: #f48c8f;
    background-color: #d6564f;
    border-radius: 5px;
}

.question-block .question-elements button:hover{
    color: white;
    background-color: #7e2f2b;
    transition: color .25s;
    cursor: pointer;
}

.question-block .qw-contact-info{
    padding-right: 2px;
    display: flex;
    flex-direction: column;
}

.question-block .qw-contact-info h3{
    margin-bottom: 11px;
    letter-spacing: 0.3px;
    font-size: 18px;
    color: #f0d8d9;
}

.question-block .qw-contact-info p,
.question-block .qw-contact-info div,
.question-block .qw-contact-info a {
    font-family: "Lato-Regular", sans-serif;
    font-size: 12px;
    line-height: 21.5px;
    color: #f0d8d9;
}

.question-block .qw-contact-info p::first-line{
    letter-spacing: -0.2px;
}

.question-block .qw-contact-info p{
    line-height: 22px;
    padding-right: 1px;
    width: 301px;
    font-size: 12px;
    /*letter-spacing: -0.4px;*/
    text-align: justify;
}

.question-block .qw-contact-info div{
    position: relative;
    margin-top: 22px;
    padding-left: 23px;
}

.question-block .qw-contact-info a{
    position: relative;
    padding-left: 23px;
    text-decoration: none;
}

.question-block .qw-contact-info .contact-location::before {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 13px;
    height: 11px;

    background: url("assets/location.png") 3px no-repeat;

    content: "";
}

.question-block .qw-contact-info .contact-phone::before {
    position: absolute;
    bottom: 5px;
    left: 0px;

    width: 13px;
    height: 11px;

    background: url("assets/phone 2.png") 1px no-repeat;

    content: "";
}

.question-block .qw-contact-info .contact-email::before {
    position: absolute;
    bottom: 4px;
    left: 0px;
    width: 13px;
    height: 8px;
    background: url("assets/mail.png") no-repeat;
    content: "";
}



.footer {
    padding: 23px 0;
    background-color: #2d303a;
}

.footer .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .footer-bottom span {
    padding-left: 1px;
    padding-top: 1px;
    font-size: 12px;
    color: #666d89;
}

.footer .footer-bottom .footer-links {
    display: flex;
}

.footer .footer-bottom .footer-links li {
    display: flex;
    width: 30px;
    height: 30px;
    margin-top: 1px;
    margin-left: 10px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.footer .footer-bottom .footer-links li:hover {
    background-color: #dedede;

    cursor: pointer;

    transition: background-color .25s ease-in;
}