*{
    margin: 0;
    padding: 0;
    line-height: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}


#header-box{
    padding-top: 32px;
    padding-bottom: 32px;
    text-transform: uppercase;
    color: white;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.wrap {
    max-width: 1020px;
    margin:  auto;
    padding: 0 40px;
    box-sizing: border-box;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#header-box h1 {
    letter-spacing: -0.5px;
    font-size: 25px;
}

#header-box h1::after {
    color: #f06c64;
    content: "*";
}


#header-box nav ul{
    display: flex;
}

#header-box nav li{
    font-size: 12px;
}

#header-box nav a {
    text-decoration: none;
    letter-spacing: -0.2px;
    line-height: 12px;
    color: #ffffff;
}

#header-box nav li::after {
    content: "·";
    padding-right: 13.5px;
    padding-left: 13.5px;
    color: #494e62;
}

#header-box nav li:first-child a {
    color: #f06c64;
}

#header-box nav li:last-child::after {
    padding: 0;
    content: "";
}

#header-box nav a:hover {
    color: #f06c64;
    transition: color;
}



#slider{
    display: block;
    margin: auto;
    background: #f06c64;
    width: 1020px;
    height: 594px;

}
#botton-slider{
    float: none;
    display: block;
    margin: auto;
    width: 1020px;
    height: 6px;
    background: #ea676b;
}


#Arrs{
    /*float: left;*/
    display: block;
    /*padding-top: 288px;*/
    /*padding-left: 40px;*/

}

.arr{
    float: left;
    transition: background-color 0.3s;
}

/*.arr a :hover{*/
/*    background-color: #000000;*/
/*}*/



#arr1{
    padding-top: 288px;
    padding-left: 40px;
}

#rectangle1{
    width: 21px;
    height: 6px;
    border-radius: 14px;

    transform: rotate(45deg);
    transform-origin: 0% 100%;

}
#rectangle2{
    width: 21px;
    height: 6px;
    border-radius: 14px;

    transform-origin: 0% 0%;
    transform: rotate(315deg);
}

.hor-slider{
    float: left;
}

#arr2{
    padding-top: 288px;
    padding-left: 73px;
}

.back-color{
    background-color: #ca4549;
}

#rectangle3{
    width: 21px;
    height: 6px;
    border-radius: 14px;
    transform: rotate(225deg);
    transform-origin: 0% 100%;

}
#rectangle4{
    width: 21px;
    height: 6px;
    border-radius: 14px;
    transform-origin: 0% 0%;
    transform: rotate(135deg);
}


#ver-phone{
    width: 291px;
    padding-left: 51px;
    padding-top: 53px;
}

#hor-phone{
    width: 557px;
    padding-left: 73px;
    padding-top: 174px;
}

#footer{
    display: block;
    margin: auto;
    background: #f2f2f2;
    width: 1020px;
    height: 495px;
}

#text{
    width: 960px;
    margin-left: 40px;
}

#botton-footer{
    display: block;
    margin: auto;
    background: #ffffff;
    width: 1020px;
    height: 6px;
}

#titel{
    padding-top: 59px;
    color: #666d89;
    font-family: 'Lato-Bold';
    font-size: 30px;
}

#text-line{
    width: 940px;
    padding-top: 19px;
    color: #7e86a4;
    line-height: 30px;
    font-family: 'Lato-Light';
    font-size: 18px;
    text-align: justify;
}

.small-group{
    margin-right: 20px;
    padding-top: 42px;
    float: left;
    width: 300px;
}

.left{
    padding-top: 0;
    float: left;
    /*padding-right: 20px;*/
}

#some1{
    padding-top: 4px;
    padding-right: 20px;
}

#some2{
    padding-top: 5px;
    padding-right: 20px;
}
#some3{
    padding-top: 4px;
    padding-right: 20px;
}

#some4{
    padding-top: 5px;
    padding-right: 20px;
}
#some5{
    padding-top: 5px;
    padding-right: 20px;
}

#some6{
    padding-top: 5px;
    padding-right: 20px;
}

.small-text{

    color: #767e9e;
    font-family: 'Lato';
    font-size: 12px;
    padding-bottom: 27px;
    width: 220px;
    line-height: 22px;
    text-align: justify;
}

.tittle-small{
    color: #666d89;
    padding-top: 0;
    padding-bottom: 9px;
    font-family: 'Lato-Bold';
    font-size: 19px;
}
