*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#header{
    display: block;
    align-itemsdir: center;
    /*margin: auto;*/
    background: #f06c64;
    width: 1020px;
    height: 89px;
}
#singolo{
    font-family: '';
}